<div class='my-3 mx-3'>
  <h3 class='font-semibold text-2xl my-3 tracking-wide'><%= @title %></h3>
  <p class='text-gray tracking-wide pb-5 my-3 text-justify'><%= @subtitle %></p>
  <%= content %>
</div>
