<%= form_with(model: profile, class: "contents w-full") do |form| %>
  <% %i[name github_url].each do |field| %>
    <div class='lg:whitespace-nowrap'>
      <%= render Forms::InputFieldComponent.new(
      object: @profile,
      input_name: field,
      value: @profile.public_send(field),
      label: field
    ) %>
    </div>
  <% end %>
  <div class='mt-5'>
    <%= form.submit(t('actions.confirm'), class: 'default-button', data: ) %>
    <%= link_to t('actions.cancel'), profiles_path, class: "default-button bg-red hover:bg-red-dark", data: %>
  </div>
<% end %>
