<div class="w-full">
  <%= render Records::IndexComponent.new(
    collection: @profiles,
    title: 'Usuários',
    resource_model: Profile,
    resource_icon: 'user',
    searchable: true,
    pagy: @pagy,
  ) %>
</div>
