---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/mruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"998eab34a75a061a2bfaf1df316febdb3c7bdd7a098c60b68f3346d16e8ccc15"
      Last-Modified:
      - Wed, 13 Oct 2021 15:21:52 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1721501853'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"mruby","id":1796512,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3OTY1MTI=","url":"https://api.github.com/orgs/mruby","repos_url":"https://api.github.com/orgs/mruby/repos","events_url":"https://api.github.com/orgs/mruby/events","hooks_url":"https://api.github.com/orgs/mruby/hooks","issues_url":"https://api.github.com/orgs/mruby/issues","members_url":"https://api.github.com/orgs/mruby/members{/member}","public_members_url":"https://api.github.com/orgs/mruby/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/1796512?v=4","description":"","name":null,"company":null,"blog":"https://mruby.org","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":4,"public_gists":0,"followers":42,"following":0,"html_url":"https://github.com/mruby","created_at":"2012-05-31T00:57:32Z","updated_at":"2021-10-13T15:21:52Z","archived_at":null,"type":"Organization"}'
  recorded_at: Sat, 20 Jul 2024 18:42:56 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/mruby/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb17fbe973530efc5a2e757fdb9a640c49aab3ca33cd666d7334843734095cd4"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1721501853'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"bovi","id":42791,"node_id":"MDQ6VXNlcjQyNzkx","avatar_url":"https://avatars.githubusercontent.com/u/42791?v=4","gravatar_id":"","url":"https://api.github.com/users/bovi","html_url":"https://github.com/bovi","followers_url":"https://api.github.com/users/bovi/followers","following_url":"https://api.github.com/users/bovi/following{/other_user}","gists_url":"https://api.github.com/users/bovi/gists{/gist_id}","starred_url":"https://api.github.com/users/bovi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bovi/subscriptions","organizations_url":"https://api.github.com/users/bovi/orgs","repos_url":"https://api.github.com/users/bovi/repos","events_url":"https://api.github.com/users/bovi/events{/privacy}","received_events_url":"https://api.github.com/users/bovi/received_events","type":"User","site_admin":false},{"login":"carsonmcdonald","id":76552,"node_id":"MDQ6VXNlcjc2NTUy","avatar_url":"https://avatars.githubusercontent.com/u/76552?v=4","gravatar_id":"","url":"https://api.github.com/users/carsonmcdonald","html_url":"https://github.com/carsonmcdonald","followers_url":"https://api.github.com/users/carsonmcdonald/followers","following_url":"https://api.github.com/users/carsonmcdonald/following{/other_user}","gists_url":"https://api.github.com/users/carsonmcdonald/gists{/gist_id}","starred_url":"[...]
