<div class="grid grid-cols-8 grid-flow-row-dense gap-4 py-5 min-w-full items-center justify-between border-b-2 border-black">
  <div></div>
  <div class='col-span-5'>
    <div class='font-bold'><%= t('attributes.name') %></div>
  </div>
  <div class='col-span-2'>
    <div class='font-bold'><%= t('attributes.members') %></div>
  </div>
</div>
