<div class='bg-slate-400 w-full h-18 fixed top-0 left-0 right-0'>
  <div class='container w-full lg:w-[60%] mx-auto py-2'>
    <div class='flex'>
      <%= link_to t('models.profiles'), profiles_path, class: "px-4 py-2 text-black-800 rounded-md mx-2 #{current_page?(profiles_path) || current_page?(root_path) ? 'bg-white text-green-800 font-bold' : 'bg-slate-200 hover:bg-slate-100 hover:text-black'}" %>
      <%= link_to t('models.organizations'), organizations_path, class: "px-4 py-2 text-black-800 rounded-md mx-2 #{current_page?(organizations_path) ? 'bg-white text-green-800 font-bold' : 'bg-slate-200 hover:bg-slate-100 hover:text-black'}" %>
    </div>
  </div>
</div>