<div class='bg-slate-400 w-full h-18 fixed top-0 left-0 right-0'>
  <div class='container w-full lg:w-[60%] mx-auto py-2'>
    <div class='flex'>
      <%= link_to 'Usuários', profiles_path, class: "px-4 py-2 hover:bg-slate-100 text-black-800 hover:text-black rounded-md mx-2 bg-slate-200" %>
      <%= link_to 'Organizações', organizations_path, class: "px-4 py-2 hover:bg-slate-100 text-black-800 hover:text-black rounded-mdmx-2 bg-slate-200" %>
    </div>
  </div>
</div>