<div class='text-gray-light'>a</div>
<div class='text-gray'>a</div>
<div class='text-gray-dark'>a</div>
<div class='text-red-light'>a</div>
<div class='text-red'>a</div>
<div class='text-red-dark'>a</div>
<div class='text-purple-light'>a</div>
<div class='text-purple'>a</div>
<div class='text-purple-dark'>a</div>
<div class='text-green-light'>a</div>
<div class='text-green'>a</div>
<div class='text-green-dark'>a</div>
<div class='text-yellow-light'>a</div>
<div class='text-yellow'>a</div>
<div class='text-yellow-dark'>a</div>
<div class='text-blue-light'>a</div>
<div class='text-blue'>a</div>
<div class='text-blue-dark'>a</div>
<div class='bg-gray'>a</div>
<div class='bg-gray-dark'>a</div>
<div class='bg-red-light'>a</div>
<div class='bg-red'>a</div>
<div class='bg-red-dark'>a</div>
<div class='bg-purple-light'>a</div>
<div class='bg-purple'>a</div>
<div class='bg-purple-dark'>a</div>
<div class='bg-green-light'>a</div>
<div class='bg-green'>a</div>
<div class='bg-green-dark'>a</div>
<div class='bg-yellow-light'>a</div>
<div class='bg-yellow'>a</div>
<div class='bg-yellow-dark'>a</div>
<div class='bg-blue-light'>a</div>
<div class='bg-blue'>a</div>
<div class='bg-blue-dark ml-20'>a</div>